
:root{
    --white: #ffffff;
    --red: #ff0000;
    --yellow: #f9a03e;
    --pico-primary: #ef4736 !important;
    --pico-primary-background: rgb(206, 47, 29);
    --pico-primary-border: #ef4736;
    --pico-primary-underline: rgba(1, 170, 255, 0.5);
    --pico-primary-hover: #79c0ff;
    --pico-primary-hover-background: #017fc0;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(1, 170, 255, 0.375);
    --pico-primary-inverse: #fff;
}

a.action, button.action{
    position: absolute;
    top:0;
    right: 15px;
}

a, button{
    display: flex;
    align-items: center;
    justify-content: center;
}
a svg, button svg{
    margin-right: 0.5rem;
    width: 15px;
    height: 15px;
}

img.logo{
    display: flex;
    max-width: 550px;
    margin: 2rem auto;
    width: -webkit-fill-available;
}

@media (min-width: 1536px) {
    .container {
        max-width: 768px;
    }
}

h1{
    text-align: center;
    color: var(--pico-primary);
}

main{
    margin-top: 4rem;
    position: relative;
}